In [ ]:
from abc import ABC, abstractmethod

In [ ]:
class Pizza(ABC):
  @abstractmethod
  def get_description(self): print("this function gives the information about a pizza")
  @abstractmethod
  def get_cost(self): print("this function gives the cost value for sauce")

In [ ]:
class Klasik_Pizza(Pizza):
  def __init__(self):
    print("klasik pizza seçildi")
  def get_description(self):
    return "klasik pizza"
  def get_cost(self):
    return 50

In [ ]:
class Margarita_Pizza(Pizza):
  def __init__(self):
    print("margarita pizza seçildi")
  def get_description(self):
    return "marg pizza"
  def get_cost(self):
    return 45

In [ ]:
class Turk_Pizza(Pizza):
  def __init__(self):
    print("türk pizza seçildi")
  def get_description(self):
    return "turk pizza"
  def get_cost(self):
    return 60

In [ ]:
class Sade_Pizza(Pizza):
  def __init__(self):
    print("sade pizza seçildi")
  def get_description(self):
    return "sade pizza"
  def get_cost(self):
    return 40

In [ ]:
class Decorator(Pizza):
    def get_description(self):
        pass

    def get_cost(self):
        pass


class Barbeku_Sos(Decorator):
    def get_description(self):
        return "bu bir barbeku sostur"

    def get_cost(self):
        return 10


class Ranch_Sos(Decorator):
    def get_description(self):
        return "bu bir Ranch sostur"

    def get_cost(self):
        return 10

In [ ]:
import datetime 
import pandas as pd
import csv



zaman = datetime.date.today()

secim = int(input("bir pizza seçiniz\n1.Klasik\n2.Margarita\n3.Türk\n4.Sade"))
secti_mi = False
liste = []

while secti_mi is False:
    if secim == 1:
        k1 = Klasik_Pizza()
        secti_mi = True
        liste.append(k1)
    elif secim == 2:
        m1 = Margarita_Pizza()
        secti_mi = True
        liste.append(m1)
    elif secim == 3:
        t1 = Turk_Pizza()
        secti_mi = True
        liste.append(t1)
    elif secim == 4:
        s1 = Sade_Pizza()
        secti_mi = True
        liste.append(s1)
    else: print("tekrar seçim yapınız")
secti_mi = False
sos_secim = int(input("bir sos seçiniz\n1.Barbeku\n2.Ranch"))

while secti_mi is False:
    if sos_secim == 1:
        b1 = Barbeku_Sos()
        liste.append(b1)
        secti_mi = True
    elif sos_secim==2:
        r1 = Ranch_Sos()
        liste.append(r1)
        secti_mi = True
    else: print("tekrar seçim yapınız")

aciklama = []
fiyat = 0
for nesne in liste:
    aciklama.append(nesne.get_description())
    fiyat += nesne.get_cost()

bir pizza seçiniz
1.Klasik
2.Margarita
3.Türk
4.Sade1
klasik pizza seçildi
bir sos seçiniz
1.Barbeku
2.Ranch1

In [ ]:
print("----------------------------")
print("lutfen ucretinizi odeyiniz.")
kullanici_adi = input("Kullanici adinizi giriniz: ")
kimlik = int(input("kimlik bilgilerinizi giriniz: "))
kk = int(input("Kredi karti bilgilerinizi giriniz: "))
kk_sifre = int(input("sifreniz: "))

----------------------------
lutfen ucretinizi odeyiniz.
Kullanici adinizi giriniz: yunus
kimlik bilgilerinizi giriniz: 12345
Kredi karti bilgilerinizi giriniz: 4345
sifreniz: 1508

In [ ]:
with open("kayit.csv","w") as csvfile:
    csv_writer = csv.writer(csvfile, delimiter=",")
    csv_writer.writerow(['kullanici adi', 'kimlik', 'kredi karti', 'siparis aciklamasi','siparis zamani','kk sifre'])
    csv_writer.writerow([kullanici_adi, kimlik, kk, aciklama, zaman, kk_sifre  ])

In [ ]:
dataframe=pd.read_csv("/content/kayit.csv")
dataframe.head()

,kullanici adi,kimlik,kredi karti,siparis aciklamasi,siparis zamani,kk sifre
0,yunus,12345,4345,"['klasik pizza', 'bu bir barbeku sostur']",2023-03-04,1508